{% extends 'doctor_header.html' %}

<html lang="en">
{% block content %}
    {% load static %}

			<!-- start page content -->
            <div class="page-content-wrapper">
                <div class="page-content">
                    <div class="page-bar">
                        <div class="page-title-breadcrumb">
                            <div class=" pull-left">
                                <div class="page-title">Image List</div>
{#                                <a class="parent-item" href="/gallery_insert/">Insert</a>#}
                            </div>
                            <ol class="breadcrumb page-breadcrumb pull-right">
                                <li><i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="index.html">Home</a>&nbsp;<i class="fa fa-angle-right"></i>
                                </li>
                                <li><a class="parent-item" href="#">Gallery</a>&nbsp;

                                </li>

                            </ol>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="tabbable-line">

                                    <div class="tab-pane active fontawesome-demo" id="tab1">
                                        <div class="row">
					                        <div class="col-md-12">
					                            <div class="card  card-box">
					                                <div class="card-head">
					                                    <header><a class="parent-item" href="/doctor/doctor_gallery_insert/">Add Image</a></header>
					                                    <div class="tools">
					                                        <a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a>
						                                    <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
						                                    <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
					                                    </div>
					                                </div>
					                                <div class="card-body ">
					                                  <div class="table-scrollable">
                                                      <body>
					                                    <table class="table table-hover table-checkable order-column full-width" id="example4">
					                                         <thead>
                                                                <tr class="center">
{#                                                                    <th>Image Id</th>#}
                                                                    <th>Image</th>
                                                                    <th>Doctor</th>
                                                                    <th>Action</th>
                                                                </tr>
                                                             </thead>

                                                            <tbody>
                                                                {% for gallery in gallery %}
																<tr class="center">
{#                                                                    <td>{{ specialization.specialization_id }}</td>#}
                                                                    <td>
{#                                                                        {{ gallery.image_path }}#}
                                                                        <img src="{% static 'image/' %}{{ gallery.image_path }} " height="100" width=""/>
                                                                    </td>
                                                                    <td>{{ gallery.doctor_id.doctor_name }}</td>
                                                                    <td class="center">
{#																		<a href="edit_patient.html" class="btn btn-tbl-edit btn-xs">#}
{#																			<i class="fa fa-pencil"></i>#}
{#																		</a>#}
																		<a href="/doctor/doctor_gallery_del/{{ gallery.image_id }}" class="btn btn-tbl-delete btn-xs">
																			<i class="fa fa-trash-o "></i>
																		</a>
																	</td>
                                                                </tr>
                                                                {% endfor %}


															</tbody>
					                                    </table>
                                                      </body>
					                                </div>
					                            </div>
					                        </div>
					                    </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end page content -->
        </div>
    </body>
        <!-- end page container -->
{% endblock %}
</html>