{% extends 'doctor_header.html' %}

<html lang="en">
{% block content %}
    {% load static %}

			<!-- start page content -->
            <div class="page-content-wrapper">
                <div class="page-content">
                    <div class="page-bar">
                        <div class="page-title-breadcrumb">
                            <div class=" pull-left">
                                <div class="page-title">Feedback List</div>
                            </div>
                            <ol class="breadcrumb page-breadcrumb pull-right">
                                <li><i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="index.html">Home</a>&nbsp;<i class="fa fa-angle-right"></i>
                                </li>
                                <li><a class="parent-item" href="#">Feedback</a>&nbsp;
                                </li>

                            </ol>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="tabbable-line">
                                    <div class="tab-pane active fontawesome-demo" id="tab1">
                                        <div class="row">
					                        <div class="col-md-12">
					                            <div class="card  card-box">
					                                <div class="card-head">
					                                    <header></header>
					                                    <div class="tools">
					                                        <a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a>
						                                    <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
						                                    <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
					                                    </div>
					                                </div>
					                                <div class="card-body ">
					                                  <div class="table-scrollable">
                                                      <body>
					                                    <table class="table table-hover table-checkable order-column full-width" id="example4">
					                                         <thead>
                                                                <tr class="center">
{#                                                                    <th>Feedback Id</th>#}
                                                                    <th>Description</th>
                                                                    <th>Doctor</th>
                                                                    <th>Patient</th>
                                                                    <th>Feedback date</th>
                                                                    <th width="10">Action</th>
                                                                </tr>
                                                             </thead>

                                                            <tbody>
                                                                {% for feedback in feedback %}
																<tr class="center">
{#                                                                    <td>{{ feedback.feedback_id }}</td>#}
                                                                    <td>{{ feedback.description }}</td>
                                                                    <td>{{ feedback.doctor_id.doctor_name }}</td>
                                                                    <td>{{ feedback.patient_id.patient_name }}</td>
                                                                    <td>{{ feedback.feedback_date }}</td>
                                                                    <td class="center">
                                                                        {%  if feedback.is_approve  == 0 %}
{#                                                                        {{ feedback.is_approve }}#}

                                                                        <a href="/doctor/feedback_accept/{{ feedback.feedback_id }}" class="btn btn-success">
																			<i class="material-icons">event_available</i>
																		</a>

																		<a href="/doctor/feedback_reject/{{ feedback.feedback_id }}" class="btn btn-danger">
																			<i class="material-icons">delete</i>
																		</a>

                                                                        {% endif %}

                                                                        {%  if  feedback.is_approve  == 1 %}
                                                                              <a href="/doctor/feedback_accept/{{ feedback.feedback_id }}" class="btn btn-success">
                                                                                  <i class="material-icons">mood</i>
                                                                              </a>
{#                                                                             <br><br>#}

                                                                         {%   elif feedback.is_approve  == 2 %}
                                                                            <a href="/doctor/feedback_reject/{{ feedback.feedback_id }}" class="btn btn-danger">
                                                                                <i class="material-icons">event_busy</i>
                                                                            </a>
                                                                         {% endif %}

																	</td>
                                                                </tr>
                                                                {% endfor %}


															</tbody>
					                                    </table>
                                                      </body>
					                                </div>
					                            </div>
					                        </div>
					                    </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end page content -->
        </div>
    </body>
        <!-- end page container -->
{% endblock %}
</html>