{% extends 'patient_header.html' %}
{% block content %}
    {% load static %}
    <!--breadcrumb area-->
    <section class="breadcrumb-area dark-overlay" style="background: url({%static 'assets/images/hero.jpg' %}) no-repeat center / cover;">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12">
                    <div class="banner-title">
                        <h2>Set Password</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-breadcrumb">
            <ul>
                <li><a href="/patient/home/">Home</a></li>
                <li><a href="/doctor/doctor_forgot_password/">Forgot Password</a></li>
                <li>Set Your Password</li>
            </ul>
        </div>
    </section><!--/breadcrumb area-->

    <!--Form Area-->
    <section class="section-padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                    <div class="account-form">
                        <div class="section-title centered">
                            <h4>Set Your New Password</h4>
                        </div>
                        <form method="post" action="/doctor/doctor_set_password/">
                            {% csrf_token %}
                            <input type="text" name="otp" placeholder="Enter Your OTP">
                            <input type="password" name="password" placeholder="New Password">
                            <input type="password" name="cpassword" placeholder="Confirm Password">

                            <span style="color:red">
                                {% for data in messages %}
                                    <p>{{ data }}</p><br>
                                {% endfor %}
                            </span>

                            <button class="bttn-mid btn-fill" type="submit">Confirm</button>
                        </form>
{#                        <p><a href="/doctor/doctor_login/">Login?</a></p>#}
                    </div>
                </div>
            </div>
        </div>
    </section><!--/Form Area-->

{% endblock %}